@font-face {
    font-family: "DS-Digital";
    src: url("fonts/DS-DIGIB.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    background: #041338;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 100px; /* pushes them away from edges */
}

.team {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color: whitesmoke;
}
h2 {
    margin-top: -10px;
    font-family: "DS-Digital";
    font-weight: normal;
    font-size: 70px;
    color: #fc5b6e;
    background: #141212;
    padding: 10px 10px;

}
.buttons {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    border: 3px solid whitesmoke;
    color: whitesmoke;
    transition: transform 0.3s ease-in-out;
    background: transparent;
    border-radius: 40px;
    Cursor: pointer;
}
button:hover {
  transform: scale(1.3);
  background: white;
  color: black;

}